html {
    background-color: rgb(72, 153, 242);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

canvas {
    background-color: rgb(180, 180, 180);
    display: none; /* 기본적으로 숨김 */
}

.title-container, .gameover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameover-container {
    display: none; /* 기본적으로 숨김 */
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #1976D2; /* 호버 시 색상 */
}

.start-button:active {
    background-color: #0D47A1; /* 클릭 시 색상 */
}